
<div class="goal-details small-12 medium-5 columns end" data-equalizer-watch>
  <%= link_to goal_path(goal), class: 'card' do %>
    <ul>
      <div>
        <li>
          <% if goal.color == "#00bcd4" %>
            <div class="goals-logo-<%= 'blue' %>">
          <% elsif goal.color == "#D45E00" %>
            <div class="goals-logo-<%= 'orange' %>">
          <% elsif goal.color == "#D4002E" %>
            <div class="goals-logo-<%= 'red' %>">
          <% end %>
            <%= goal.title.chars.first %>
            </div>
        </li>
        <li class="wordwrap"><%= goal.title %></li>
      </div>
      <li class="inline">Habits: <%= goal.habits.count %></li>
      <li class="inline">Last Progress Made: <%= goal.habits.count %></li>
    </ul>
  <% end %>
</div>
